{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>Albums</h1>

    {% for season in seasons %}
        <h1>{{ season.title }}</h1>
        <div class="row">
        {% if season.albums.all %}
            {% for album in season.albums.all %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        {% with album.photos.all|first as photo %}
                        <a href="{% url 'gallery:photos' album.id %}">
                            <img src="{{ MEDIA_URL }}{{ photo.image.crop.350x350 }}" alt="no photo">
                        </a>
                        {% endwith %}
                        <div class="caption alert-info">
                            <h3>{{ album.title }}</h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
        <div class="alert alert-warning" role="alert">
            Вибачте но для цього сезону, альбомів не існує.
        </div>
        {% endif %}
        </div>
    <hr>
    {% endfor %}


{% endblock %}
