{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}
    <h1>Seasons</h1>

    <select class="" name="">
        {% for season in seasons %}
            <option value="">{{ season.title }}</option>
        {% endfor %}
    </select>

    <div class="row">
        <a href="{% url 'gallery:albums' %}">Альбоми</a>
    </div>
{% endblock %}
