{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>Альбом: {{ album.title|upper }}</h1>

    <div id="slider-pro" class="slider-pro">
        <div class="sp-slides">
            {% for photo in album.photos.all %}
            <div class="sp-slide">
                <img src="{{ MEDIA_URL }}{{ photo.image.url }}" class="img-responsive" alt="no photo"
                     data-src="{{ MEDIA_URL }}{{ photo.image.url }}"/>
            </div>
            {% endfor %}
            <!-- <div class="sp-slide">
                <img class="sp-image" src="../src/css/images/blank.gif"
                    data-src="http://bqworks.com/slider-pro/images/image3_medium.jpg"
                    data-small="http://bqworks.com/slider-pro/images/image3_small.jpg"
                    data-medium="http://bqworks.com/slider-pro/images/image3_medium.jpg"
                    data-large="http://bqworks.com/slider-pro/images/image3_large.jpg"
                    data-retina="http://bqworks.com/slider-pro/images/image3_large.jpg"/>
            </div> -->
        </div>

        <div class="sp-thumbnails">
            {% for photo in album.photos.all %}
                <div class="sp-thumbnail">
                    <img src="{{ MEDIA_URL }}{{ photo.image.thumbnail.100x100 }}" class="img-responsive" alt="no photo">
                </div>
            {% endfor %}
            <!-- <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image1_thumbnail.jpg"/>
            <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image2_thumbnail.jpg"/>
            <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image3_thumbnail.jpg"/> -->
        </div>
    </div>

    <hr><br>
    <div class="row">
        {% for album in albums %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    {% with album.photos.all|first as photo %}
                    <a href="{% url 'gallery:photos' album.id %}">
                        <img src="{{ MEDIA_URL }}{{ photo.image.crop.350x350 }}" alt="no photo">
                    </a>
                    {% endwith %}
                    <div class="caption alert-info">
                        <h3>{{ album.title }}</h3>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="col-xs-12">
        <a href="{% url 'gallery:albums' %}">Повернутись до альбомів...</a>
    </div>
    <br><br>

{% endblock %}
