{% extends "admin/change_form.html" %}

{% block after_field_sets %}
<link href="http://hayageek.github.io/jQuery-Upload-File/4.0.10/uploadfile.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://hayageek.github.io/jQuery-Upload-File/4.0.10/jquery.uploadfile.min.js"></script>

<div id="previewupload">
    Upload
</div>

<script>
    $(document).ready(function() {
        $( "#id_album" ).change(function() {
            var id = $('#id_album option:selected').val();

            if(id != '') {
                $("#previewupload").show();

                $("#previewupload").uploadFile({
                    url:".",
                    fileName:"images",
                    multiple:true,
                    acceptFiles:"image/*",
                    sequential:true,
                    sequentialCount:1,
                    maxFileSize:3500*1024,  // about 3 MB
                    showPreview:true,
                    previewHeight: "100px",
                    previewWidth: "100px",
                    formData: {
                        "csrfmiddlewaretoken": "{{ csrf_token }}",
                        "album": id
                    }
                });
            }
            else {
                $("#previewupload").hide();
            }

        });

    });
</script>

{{ block.super }}
{% endblock %}
