.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: 11;
    opacity: 1;
    visibility: visible;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
}

.preloader.done {
    opacity: 0;
    visibility: hidden;
}

.preloader .loader {
    width: 75px;
    height: 75px;
    border: 10px solid #fff;
    border-radius: 50%;
    border-top-color: rgb(51, 141, 236);
    position: absolute;
    left: 50%;
    top: 50%;
    /*right: 0;
    bottom: 0;*/
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

    animation: 1.5s spin infinite;
    -webkit-animation: 1.5s spin infinite;
    -moz-animation: 1.5s spin infinite;
    -o-animation: 1.5s spin infinite;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

#slider-pro .sp-selected-thumbnail {
    border: 4px solid #ffffff;
}
