<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Галарейка{% endblock %}</title>

    <link rel="stylesheet" href="{% static  'libs/bootstrap3/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static  'libs/bootstrap3/css/bootstrap-theme.min.css' %}">

    <link rel="stylesheet" href="{% static  'libs/slider-pro/css/slider-pro.min.css' %}">

    <link rel="stylesheet" href="{% static  'assets/css/style.css' %}">
</head>
<body>

    <div id="preloader" class="preloader">
        <div class="loader"></div>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'libs/jquery.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap3/js/bootstrap.min.js' %}"></script>

    <script src="{%  static 'libs/slider-pro/js/jquery.sliderPro.min.js' %}"></script>

    <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>
